<div>
  <span class="element hotel">Hotel Name</span>
  <span class="element address">x Road, xxx xx, City, Country</span>
  <span class="element telephone">+xx xxxxxxxxxx</span>
  <span class="element telephone">+xx xxxxxxxxxx</span>
  <span class="element fax">+xx xxxxxxxxxx</span>
  <span class="element email"><a href="mailto:info@hotelexample.com">info@hotelexample.com</a></span>
</div>
