<div class="error">
  <i class='fa fa-5x fa-exclamation-triangle'></i>
    <p>
        An error has occured while attempting to load the content of this page.<br /><br />
        &bull; The content you are attempting to access may be empty or deleted. <br />
        &bull; The content may contain invalid expressions. <br />
        &bull; This could be happening due to a server issue. <br /><br />
        If the error persists contact the owner of this website.
    </p>
</div>
