<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  <div class="contact"><%= render partial: "contact" %></div>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  <div class="site-map"><%= render partial: "sitemap" %></div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
  <div class="social-media-group"><%= render partial: "social_media" %></div>
</div>
