/* 3D Cube Button */

.cube {
    margin: 0px auto;
    width: 182px;
    height: 34px;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 200ms ease;
    -webkit-transition: transform 200ms ease;
}

.cube .design, .cube .development{
    width: inherit;
    height: inherit;
    position: relative;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 1em rgba(0,0,0,0.5);
    line-height: 34px !important;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

.design {
    background: #70c2c2;
    transform: translateZ(15px);
    -webkit-transform: translateZ(15px);
}

.development {
    background: #d30043;
    transform: rotateX(-90deg) translateZ(-15px);
    -webkit-transform: rotateX(-90deg) translateZ(-15px);
}

.cube:hover {
    cursor: pointer;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
}

.menu .active {
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
}
