.row.model .bootstrap-table {
  margin: auto 2%;
  .fixed-table-container {
    border: none;
  }
}

.search .form-control {
  width: 224px;
}

.table-responsive {
  border: none !important;
  margin: auto;
}

.bootstrap-table .table .card-views * {
   text-align: right;
  .title {
    text-align: right !important;
    width: 40%;
    padding-right: 2%;
  }
  .value {
    text-align: left;
    display: inline-block;
    width: 54%;
    padding-left: 2%;
    border-left: 1px solid #ccc;
  }
}

.bootstrap-table {
  margin-bottom: 10px;
  .dropdown-menu {
     min-width: 224px;
  }

  thead th {
    &:not(.tm) {
      border-left: none;
      border-right: none;

      color: #428bca;
      font-weight: bold;

      padding: 8px 8px 8px 8px;
    }
  }

  tbody tr {
    // border-bottom: 1px solid #ebebeb;
    td {
      &:not(.tm) {
        border-right: none;
        border-left: none;
      }
      a:hover, a:focus {
        text-decoration: none !important;
      }
    }
  }
}

.bootstrap-table-toolbar {
  text-align: center;
}

@media screen and (max-width: 480px){
  .table-responsive {
    width: 280px !important;
  }
}
