.settings {
  width: 98%;
  padding-bottom: 15px;
  background-color: #fff;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  -moz-box-shadow:0px 0px 8px #666666;
  -webkit-box-shadow:0px 0px 8px #666666;
   box-shadow:0px 0px 8px #666666;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

  .custom-navbar {
    border-bottom: 1px solid #acacac;
    .nav-pills {
      margin: 4px 8px 4px 8px;
      .switch {
        margin-top: 8px;
      }
    }
  }

  .row {
    padding: 0px 15px 10px 15px;

    h3.title {
      text-align: center;
      font-size: 18px;
      color: #666;
      margin-bottom: 10px;
    }
  }

  .custom-navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    .nav-pills {
      margin: 4px 8px 8px 8px;
      i.fa {
        width: 24px;
        margin-right: 8px;
      }
    }
  }
}

.alert {
  line-height: 24px;
}
