<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
  <input type=hidden name="files_list">
  <!-- Use this <div> element to initialize the Dropzone -->
  <div id="dropzone" class="dropzone"></div>
  <!-- This <div> elements shows a message after a successful upload. -->
  <div id="msgBoard"></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 eq-height">
  <i class="fa fa-exclamation-triangle notice-marker"></i>
  <p>
    Notice! Drag & Drop Area. You can drag one or more files and drop them in the marked area to automatically initiate the upload process. In addition you can click on the
    area and select the file. <br />
    The allowed types are: .png .jpg .bmp .svg files. [ Disabled ]<br />
    Users may not upload more than five [ 5 ] files in parallel. <br />
    The maximum size of each file allowed is approximately 512 MB. <br />
    The maximum number of files allowed per dropzone instance is set to ten [ 20 ].
  </p>
  <div class="download-buttons">
      <button class="btn btn-warning clear-all">Clear All</button>
      <button class="btn btn-default clear-completed">Clear Completed</button>
  </div>
</div>

<%= javascript_tag do %>
  files.initDropzone();
<% end %>
