<div class="row model">
  <%= render partial: "bootstrap_table" %>
</div>

<div class="bootstrap-table-toolbar">
  <%= link_to new_category_path, remote: true, id: "new-category", class: "btn btn-default" do %><i class="fa fa-plus"></i><% end %>
</div>

<div class="wrap-panel-alert">
  <div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Info! There are some premade tags you can use with icons included. Those are: </br> • Air Conditioning • WiFi • Flat-screen TV • DVD Player • Telephone • Fax • Shower • Bathtub • View • Wake up Service.
  </div>
</div>
